.Acerca{
    margin: auto;
    max-width: 700px;
    width: 100%;
}
.Acerca .Text p{
    margin-left: 0;
}
.Acerca .Intro{
    font-size: medium;
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
}
.Acerca .Intro img{
    border-radius: 50px;
    display: flex;
    height: 100px;
    margin: auto;
    width: 100px;
}
.Acerca .Date{
    color: var(--thirdFontColor);
    font-size: small;
    text-transform: lowercase;
}
.Acerca .Block{
    background: var(--bgBox);
    border-radius: 12px;
    line-height: 1.7;
    padding: 20px;
} 
.Acerca h1{
    margin-bottom: 10px;
    margin-top: 5px;
}
.Acerca h2{
    font-size: large;
    text-align: left;
}
.Acerca h3{
    margin: 0;
    text-align: left;
}
.Acerca .Content h1,
.Acerca .Content h2,
.Acerca .Content h3,
.Acerca .Content h4,
.Acerca .Content h5,
.Acerca .Content h6{
    margin: 0;
    margin-bottom: 0.5em;
    text-align: left;
}
.Acerca .Content p,
.Acerca .Content li{
    font-size: inherit;
    margin: 0px;
    max-width: none;
}
.Acerca .Content table,
.Acerca .Content ol{
    border-collapse: collapse;
    max-width: 100%;
}
.Acerca .Content table tr{
    border-top: 1px solid #c6cbd1;
}
.Acerca .Content table tr:nth-child(2n) {
    background-color: var(--bgColor);
}
.Acerca .Content table td, 
.Acerca .Content table th{
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
.Acerca .Content blockquote{
    border-left: 3px solid var(--thirdFontColor);
    color: var(--thirdFontColor);
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}
.Acerca .Content img,
.Acerca .Block img{
    max-width: 100%;
}
.Acerca .Block .Emoji img{
    font-size: 150px;
}
.Acerca .Separator{
    background: var(--pastelYellow);
    height: 50px;
    margin: auto;
    width: 5px;
}
.Acerca input.Title{
    background: var(--bgBox);
    border: none;
    color: var(--primaryFontColor);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 1.5;
    width: 100%;
}
.Acerca textarea.Content{
    background: var(--bgBox);
    border: none;
    color: var(--primaryFontColor);
    font-size: medium;
    margin-top: 20px;
    resize: none;
    width: 100%;
}
.Acerca .Buttons{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.Acerca .Buttons img{
    border-radius: 12px;
    height: 100px;
    width: 100px;
}
.Acerca button.Picture,
.Acerca button.send{
    margin: 0;
}
.Acerca button.Delete{
    margin-left: auto;
}
.Acerca button.Picture{
    border: none;
    font-size: large;
}
.Acerca .Upload-Wrap{
    display: flex;
    height: 30px;
    position: relative;
    width: 30px;
}
.Acerca .Upload-Wrap div{
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}
.Acerca .Upload-Wrap img.emoji{
    margin: 0!important;
}
.Acerca .Upload{
    color: transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 30px;
}
.Acerca .Upload::-webkit-file-upload-button{
    visibility: hidden;
}
@media (max-width: 768px){
   .Acerca{
        padding: 20px;
    }
    .Acerca .Block .Content{
        flex-direction: column;
    }
}