.Acerca{
    margin: auto;
    max-width: 700px;
    width: 100%;
}
.Acerca .Text p{
    margin-left: 0;
}
.Acerca .Intro{
    font-size: medium;
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;
    text-align: center;
    width: 100%;
}
.Acerca .Intro img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.Acerca .Date{
    color: var(--thirdFontColor);
    font-size: small;
    text-transform: lowercase;
}
.Acerca .Block{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    line-height: 1.7;
    padding: 20px;
} 
.Acerca .Block h3{
    margin: 0;
    text-align: left;
}
.Acerca .Block p,
.Acerca .Block li{
    font-size: medium;
}
.Acerca .Block img{
    width: 100%;
}
.Acerca .Block .Content{
    align-items: center;
    display: flex;
}
.Acerca .Block .Emoji img{
    font-size: 150px;
}
.Acerca .Separator{
    background: var(--pastelYellow);
    height: 50px;
    margin: auto;
    width: 5px;
}
.Acerca input.Title{
    border: none;
    color: var(--primaryFontColor);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 1.5;
    width: 100%;
}
.Acerca textarea.Content{
    border: none;
    color: var(--primaryFontColor);
    font-size: medium;
    margin-top: 20px;
    width: 100%;
}
.Acerca .Buttons{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.Acerca .Buttons img{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
.Acerca button.Picture,
.Acerca button.send{
    margin: 0;
}
.Acerca button.Delete{
    margin-left: auto;
}
.Acerca button.Picture{
    border: none;
    font-size: large;
}
.Acerca .Upload{
    color: transparent;
    cursor: pointer;
    height: 25px;
    text-align: right;
    width: 25px;
}
.Acerca .Upload:before{
    align-items: center;
    content: '📸';
    color: black;
    float: left;
    font-size: large;
    height: 30px;
    margin-left: auto;
    width: 30px;
}
.Acerca .Upload::-webkit-file-upload-button{
    visibility: hidden;
}
@media (max-width: 768px){
   .Acerca{
        padding: 20px;
    }
    .Acerca .Block .Content{
        flex-direction: column;
    }
}