.Ad{
    background:none;
    color: var(--thirdFontColor);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: small;
    justify-content: space-between;
    line-height: 1.5;
    position: relative;
    width: 100%;
}
.Ad .Title{
    top: 10px;
    left: 10px;
    position: absolute;
}
.Ad .Author{
    bottom: 10px;
    left: 10px;
    position: absolute;
}
@media(min-width: 768px){
    .Reply .Ad{
        display: none;
    }
    .Sidebar .Ad{
        margin-top: 10px;
    }
    .Sidebar .Ad img{
        border-radius: 12px;
        max-width: 100%;
    }
}
@media(max-width: 768px){
    .Sidebar .Ad{
        display: none;
    }
    .Reply .Ad{
        margin-top: 40px;
    }
    .Reply .Ad img{
        border-radius: 12px;
        height: 100vw;
        object-fit: cover;
        width: 100%;
    }
}