.Alert{
    align-items: center;
    animation: bounce 0.2s;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border-radius: 12px;
    color: var(--primaryFontColor);
    display: flex;
    line-height: 1.5;
    min-width: 250px;
    padding: 10px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 999999999999999999;
}
.Alert .Alert-Emoji{
    margin-right: 15px;
}
.Alert .Title{
    font-size: medium;
}
.Alert .Message{
    font-size: small;
}
@media (max-width: 768px){
   .Alert{
        animation: appear_down 0.2s;
        left: 0; 
        margin-left: auto;
        margin-right: auto;
        right: 0;
        top: 20px;
        width: max-content;
    } 
}
@keyframes appear_down {
    0%    {top: -1000px;}
    50%   {top: -100px;}
    100%  {top: 0;}
}