.Alert{
    align-items: center;
    animation: bounce 0.2s;
    background: var(--bgColor);
    border-radius: 12px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;
    color: var(--primaryFontColor);
    display: flex;
    line-height: 1.5;
    min-width: 250px;
    padding: 10px;
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 999999999999999999;
}
.Alert .Alert-Emoji{
    margin-right: 15px;
}
.Alert .Title{
    font-size: medium;
}
.Alert .Message{
    font-size: small;
}
@media (max-width: 768px){
   .Alert{
        animation: appear_down 0.2s;
        left: auto; 
        right: auto;
        top: 20px;
    } 
}
@keyframes appear_down {
    0%    {top: -1000px;}
    50%   {top: -100px;}
    100%  {top: 0;}
}