.Alert{
    align-items: center;
    animation: bounce 0.2s;
    background: var(--bgColor);
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 5px 10px, rgba(15, 15, 15, 0.4) 0px 15px 40px;
    color: var(--primaryFontColor);
    display: flex;
    line-height: 1.5;
    min-width: 250px;
    padding: 10px;
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 999999999999999999;
}
.Alert .Alert-Emoji{
    margin-right: 15px;
}
.Alert .Title{
    font-size: medium;
}
.Alert .Message{
    font-size: small;
}
@keyframes bounce{
    0%    {opacity: 0;   transform: scale(1,1);}
    50%   {opacity: 0.5; transform: scale(1.1, 1.1);}
    100%  {opacity: 1;   transform: scale(1,1);}
}
@media (max-width: 768px){
   .Alert{
        right: 20px;
        top: 20px;
    } 
}