.Blog{
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Blog h2{
    text-align: center;
}
.Blog a{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    display: flex;
    margin-bottom: 20px;
    min-height: 250px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.Blog a:hover{
    transform: scale(1.05);
}
.Blog article{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Blog .Title-Date-Privat{
    color: var(--primaryFontColor);
    display: flex;
    flex-direction: column;
    font-size: x-large;
    justify-content: space-between;
    line-height: 1.3;
    width: 60%;
}
.Blog .Title-Date-Privat .Date{
    color: var(--secondaryFontColor);
    font-size: x-small;
    line-height: 1.3;
    margin: 0;
    text-transform: lowercase;
}
.Blog .Title-Date-Privat .Title{
    font-weight: bold;
}
.Blog .Title-Date-Privat .Meta{
    display: flex;
    font-size: small;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}
.Blog .Title-Date-Privat .Meta > div{
    margin-right: 5px;
}
.Blog .Content{
    display: flex;
    margin-top: 20px;
}
.Blog .Content p{
    color: var(--primaryFontColor);
    line-height: 1.7;
    font-size: medium;
    margin: 0;
    max-width: 100%;
}
.Blog .Content .Privat{
    display: flex;
    justify-content: flex-end;
    line-height: 1;
}
.Blog .Filter-Blog{
    display: flex;
    font-size: small;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Blog .Filter-Blog div{
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    font-size: small;
    padding: 5px 15px;
    text-align: center;
}
.Blog .Filter-Blog .Active{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
}
.Blog .Block .Active{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    font-size: small;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    width: max-content;
}
.Blog .Login-Box{
    animation: gradientBG 15s ease infinite;
    background: linear-gradient(-45deg, var(--greenMint), var(--greenMint), var(--pastelPurple), var(--red));
    background-size: 400% 400%;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: white;
    font-size: xx-large;
    line-height: 1.5;
    margin-bottom: 20px;
    min-height: 250px;
    padding: 20px;
    text-align: center;
}
.Blog span.Nms-Logo{
    background: var(--nmsLogo);
    border-radius: 5px;
    color: white;
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
    mix-blend-mode: multiply;
    padding: 5px 10px 5px 10px;
}
.Blog .Google{
    align-items: center;
    background: none;
    border: 3px solid white;
    border-radius: 50px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px;
}
.Blog .Google span{
    margin-left: 5px;
}
@media (max-width: 768px){
   .Blog{
        padding: 20px;
    }
    .Blog article{
        margin-bottom: 10px;
    }
    .Blog article a{
        text-align: center;
    }
    .Blog .Title-Date-Privat{
        width: 100%;
    }
    .Blog .Title-Date-Privat .Meta{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}