.Blog{
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.Blog h2{
    text-align: center;
}
.Blog p.Month{
    color: var(--gray);
    font-size: x-small; 
    margin: 0;
    text-transform: uppercase;
}
.Blog .Block{
    background: white;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    padding: 20px;
} 
.Blog article{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px){
   .Blog{
        padding: 20px;
    }
    .Blog article{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .Blog article a{
        text-align: center;
    }
}