.ChangeBio{
    background: var(--bgColor);
    border: none;
    border-radius: 6px;
    padding: 5px;
    resize: none;
    width: 100%;
}
.ChangeBio textarea{
    background: none;
    border: none;
    color: var(--primaryFontColor);
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    width: 100%;
}
.CharsLeft{
    color: var(--secondaryFontColor);
    font-size: 14px;
    text-align: right;
}