.Comments{
    background: var(--bgBox);
    border-radius: 12px;
    color: var(--textBlog);
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.LastComments{
    padding: 10px;
}
.LastComments a{
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.3;
    margin-bottom: 20px;
}
.LastComments .Info-Wrap{
    display: flex;
}
.LastComments .Info-Wrap time{
    color: var(--thirdFontColor);
}
.LastComments .Author-Date{
    display: flex;
    flex-direction: column;
}
.LastComments .Claps{
    color: var(--primaryFontColor);
}