.CopyLink{
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--shadow-color);
    color: var(--secondaryFontColor);
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-left: auto;
    padding: 0 12px;
    position: relative;
}
@media (hover:hover){
    .CopyLink:hover svg{
        animation: tilt 0.5s ease-in-out; 
    }
    .CopyLink:hover{
        background: rgb(22 24 27 / 5%);
    }
}