.Confirmation{
    align-items: center;
    background: rgba(15, 15, 15, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999999999;
}
.Confirmation .Confirmation-Wrap{
    background: var(--bgBox);
    border-radius: 12px;
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
    width: 300px;
    z-index: 99999999999;
}
.Confirmation .Confirmation-Wrap p{
    margin: 0;
    margin-bottom: 30px;
}
.Confirmation .Confirmation-Wrap span{
    font-size: 14px;
    margin-bottom: 30px;
}
.Confirmation .Confirmation-Wrap button{
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
}
.Confirmation .Confirmation-Wrap button.No-Delete{
    background: rgba(15, 15, 15, 0.3);
}
.Delete button.Delete{
    background: none;
    border: 1px solid var(--red);
    border-radius: 50px;
    color: var(--red);
    cursor: pointer;
    font-size: small;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}