.Divisa {
    width: 100%;
}
.Divisa p{
    text-align: center;
}
.Divisa ul{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    width: 100%;
}
.Divisa ul li{
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.Divisa ul li:hover{
    background: var(--lightGray);
    border-radius: 5px;
}
@media (max-width: 768px){
   .Divisa{
        padding: 20px;
    }
}