.Footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url('../Assets/wave.svg');
    background-size: cover;
    background-position: 60%;
    min-height: 200px;
    padding: 20px;
}
.Footer .Wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer .Wrap .Column{
    display: flex;
}
.Footer .Wrap *{
    color: white;
    font-size: 12px;
    text-align: center;
}
.Footer .Wrap p{
    margin: 5px;
}
.Footer .Wrap span.Logo{
    font-family: 'Gentium Book Basic', serif;
    letter-spacing: 0.05em;
}
.Footer .Wrap a{
    margin: 5px;
}
.Footer .Wrap .Footer-Menu span{
    text-transform: uppercase;
    margin: 5px;
}
@media (max-width: 600px){
    
    .Footer .Wrap{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
}