.Footer{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: flex-end;
    background: url('../Assets/wave.svg');
    background-size: cover;
    background-position: 60%;
    min-height: 200px;
    padding: 20px;
}
.Footer .Wrap{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.Footer .Wrap .Column:first-child{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.Footer .Wrap .Column:last-child{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.Footer .Wrap p{
    margin: 5px;
}
.Footer .Wrap a{
    color: white;
    margin: 5px;
}
.Footer .Wrap .Footer-Menu span{
    text-transform: uppercase;
    margin: 5px;
}
@media (max-width: 600px){
    .Footer{
        padding-bottom: calc(48px + env(safe-area-inset-bottom));
    }
    .Footer .Wrap{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Footer .Wrap .Column:first-child,
    .Footer .Wrap .Column:last-child{
        justify-content: center;
    }
    
}