/*******************************************************************/
/*Front
/*******************************************************************/
.Forum{
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.Forum .Image{
    border-radius: 5px;
    height: 300px;
    margin-bottom: 10px;
    width: 100%;
}
.Forum form{
    margin-bottom: 100px;
}
.Forum ul{
    padding: 0;
}
.Forum ul .roll-wrap{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: x-large;
    height: 100%;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
}
.Forum ul.Front a:first-child{
    font-size: xx-large;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}
.Forum ul.Front a:first-child span.title{
    font-weight: bold;
}
.Forum ul.Front a{
    background: white;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--textBlog);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
.Forum ul.Front a:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);   
}
.Forum li{
    list-style-type: none;
}
.Forum li.roll{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.Forum .Meta-Post{
    align-items: center;
    color: var(--mediumGray);
    display: flex;
    font-size: small;
    justify-content: flex-end;
}
.Forum .Meta-Post .Likes,
.Forum .Meta-Post .Comments,
.Forum .Meta-Post .Views{
    align-items: baseline;
    margin-right: 10px;
}
.Forum .votes{
    align-items: flex-end;
    display: flex;
    font-size: small;
}
.Forum .infopost{
    align-items: center;
    color: var(--lightGray);
    display: flex;
    font-size: small;
}
.Forum .infopost.center{
    display: flex;
    justify-content: center;
}
.Forum img{
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}
.Forum img.Featured-Photo{
    border-radius: 0;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.Forum .infopost p{
    margin: 0;
}
.Forum .Likes{
    display: flex;
    justify-content: flex-end;
}
.Forum .Likes .votes span{
    cursor: pointer;   
}
.Forum .Likes .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum .Upload{
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: 700;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Forum .Upload button{
    background: var(--blue);
    border: none;
    box-shadow: none;
    color: white;
    margin-bottom: 10px;
    width: auto;
}
.Forum input{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
.Forum textarea{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    height: 200px;
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
.Forum .Emoji{
    margin: auto;
    max-width: 600px;
}
.Forum .Emoji-Grid{
    min-height: 32px;
}
.Forum .User-Wrap{
    align-items: center;
    display: flex;
}
.Forum .featured{
    align-items: center;
    display: flex;
    width: 100%;
}
.Forum .featured span{
    align-items: center;
    background: rgba(1, 1, 1, 0.4);
    border: 0px;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.Forum .featured span:hover{
    background: rgba(1, 1, 1, 0.1);
    transition: 0.2s ease-in-out;
}
.Forum .Infopost-Meta-Post{
    display: flex;
    justify-content: space-between;
}
.Forum .roll-wrap span{
    line-height: 1.5;
}
.Forum span.alert{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    display: block;
    margin: auto;
    padding: 10px;
}
.Forum .Send{
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
.Forum .Send span{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.Forum .loading{
    border-radius: 5px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
}
.Forum .loading{
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: linear;
    background-image: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 200% 100%;
}
.Forum .OrderBy{
    align-items: center;
    display: flex;
    justify-content: center;
}
.Forum .OrderBy div{
    border-radius: 50px;
    cursor: pointer;
    font-size: small;
    padding: 5px 15px;
    text-align: center;
}
.Forum .OrderBy .Selected{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
}
@keyframes shimmer{
    0% { background-position: 100% 0;}
    100% { background-position: -100% 0;}
}
/*******************************************************************/
/*Detail
/*******************************************************************/
.Forum h2{
    color: var(--darkGray);
    text-align: center;
}
.Forum .infopost.left{
    display: flex;
    justify-content: space-between;
}
.Forum .Linkify{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;  
    word-break: break-word;
}
.Forum .Linkify p{
    margin: 5px;
}
.Forum ul.replies{
    margin: auto;
}
.Forum ul.replies p{
    margin: 0;
    margin-top: 5px;
}
.Forum ul.replies .likes-comments{
    display: flex;
    justify-content: flex-end;
}
.Forum ul.replies .likes-comments .votes span{
    cursor: pointer;   
}
.Forum ul.replies .likes-comments .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum ul.replies .infopost{
    justify-content: left;
}
.Forum .verified{
    background: var(--pastelGreen);
    border-radius: 50px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--greenMint);
    cursor: default;
    margin: 5px;
    padding: 1px 3px;
}
.Forum .verified:hover + .tooltip{
    display: inline-block;
}
.Forum .tooltip{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    display: none;
    font-size: small;
    padding: 5px;
    position: absolute;
}
.Forum time{
    margin: 5px;
}
/*******************************************************************/
/*Mobile
/*******************************************************************/
@media(max-width: 768px){
    .Forum{
        padding: 20px;
    }
    .Forum .Infopost-Meta-Post {
        flex-direction: column;
    }
    .Forum .infopost,
    .Forum .Meta-Post{
        justify-content: center;
    }
    .Forum .roll-wrap{
        justify-content: space-between;
    }
    .Forum .roll-wrap span{
        text-align: center;
    }
} 