/*******************************************************************/
/*Front design
/*******************************************************************/
.Forum{
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Forum .Forum-TwoCol{
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}
.Forum .Image{
    border-radius: 5px;
    height: 300px;
    margin-bottom: 10px;
    width: 100%;
}
.Forum form{
    margin-bottom: 100px;
}
.Forum ul{
    margin-top: 0px;
    padding: 0;
}
.Forum ul .Post-Card{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: x-large;
    height: 100%;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
}
.Forum ul.Front a:first-child span.title{
    font-weight: bold;
}
.Forum .Main{
    width: 100%;
}
.Forum .Sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 300px;
    padding-top: 100px;
}
.Forum .Sidebar .Welcome,
.Forum .Sidebar .LastComments,
.Forum .Sidebar .LastArticles,
.Forum .Sidebar .Users{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--textBlog);
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}
.Forum .Sidebar .LastComments .Author-Date{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.Forum .Sidebar .LastComments .Info{
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.Forum .Sidebar .LastComments .Info:hover{
    background: var(--bgColor);
    color: var(--primaryFontColor);
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.Forum .Sidebar .LastComments .Info-Wrap{
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.Forum .Sidebar .LastArticles .Info{
    align-items: center;
    display: flex;
}
.Forum .Sidebar .LastArticles .Info .Bullet{
    background-color: var(--greenMint);
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
.Forum .Sidebar .Welcome{
    position: sticky;
    top: 20px;
}
.Forum .Sidebar .Title{
    color: var(--thirdFontColor);
    font-size: small;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.Forum ul.Front{
    width: 100%;
}
.Forum ul.Front a{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--textBlog);
    display: flex;
    flex-direction: column;
    min-height: 250px;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.Forum ul.Front a:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);   
}
.Forum li{
    list-style-type: none;
}
.Forum li.Post-List{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.Forum .Meta-Post{
    align-items: center;
    color: var(--mediumGray);
    display: flex;
    font-size: small;
    justify-content: flex-end;
}
.Forum .Meta-Post .Likes,
.Forum .Meta-Post .Comments,
.Forum .Meta-Post .Views{
    align-items: baseline;
    margin-right: 10px;
}
.Forum .Meta-Post .Multi-Pic{
    display: flex;
}
.Forum .Meta-Post .Multi-Pic img{
    border: 2px solid var(--bgColor);
    margin-right: -11px;
}
.Forum .votes{
    align-items: flex-end;
    display: flex;
    font-size: small;
}
.Forum .Infopost{
    align-items: center;
    display: flex;
    font-size: small;
    font-weight: 600;
}
.Forum img{
    border-radius: 50%;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}
.Forum .Infopost p,
.Forum .Infopost .Group{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin: 0;
}
.Forum .Likes,
.Forum .Comments{
    display: flex;
    justify-content: flex-end;
}
.Forum .Likes .votes span{
    cursor: pointer;   
}
.Forum .Likes .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum .Upload{
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: 700;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Forum .Upload button{
    background: var(--blue);
    border: none;
    box-shadow: none;
    color: white;
    margin-bottom: 10px;
    width: auto;
}
.Forum input{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
.Forum textarea{
    background: var(--bgBox);
    border: none;
    box-sizing: border-box;
    color: var(--primaryFontColor);
    font-size: medium;
    line-height: 2;
    resize: none;
    width: 100%;
}
.Forum .Emoji-Textarea{
    display: flex;

}
.Forum .responseBox{
    background-color: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    padding: 20px;
}
.Forum .Emoji{
    height: 50px;
    overflow-x: scroll;
    width: 200px;
    white-space: nowrap;
}
.Forum .Emoji-Grid{
    min-height: 32px;
}
.Forum .User-Wrap{
    align-items: center;
    display: flex;
}
.Forum .featured{
    align-items: center;
    display: flex;
    width: 100%;
}
.Forum .featured span{
    align-items: center;
    background: rgba(1, 1, 1, 0.4);
    border: 0px;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.Forum .featured span:hover{
    background: rgba(1, 1, 1, 0.1);
    transition: 0.2s ease-in-out;
}
.Forum .Infopost-Meta-Post{
    display: flex;
    justify-content: space-between;
}
.Forum .Post-List h3{
    font-size: x-large;
    line-height: 1;
    margin: 0;
    text-align: left;
}
.Forum span.alert{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    display: block;
    margin: auto;
    padding: 10px;
}
.Forum .Send{
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
.Forum .Send span{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.Forum .Loading{
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
}
.Forum .Loading{
    -webkit-animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmer;
    -webkit-animation-timing-function: linear;
    background-image: linear-gradient(to right, var(--bgBox) 10%, var(--bgColor) 18%, var(--bgBox) 33%);
    background-size: 200% 100%;
}
.Forum .OrderBy .Loading{
    border-radius: 50px;
    height: 30px;
    margin: 10px;
    width: 70px;
}
.Forum .OrderBy{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 20px;
}
.Forum .OrderBy div{
    border-radius: 50px;
    cursor: pointer;
    font-size: small;
    padding: 5px 15px;
    text-align: center;
}
.Forum .OrderBy .Selected{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
}
.Forum .Claps{
    color: var(--primaryFontColor);
}
@keyframes shimmer{
    0% { background-position: 100% 0;}
    100% { background-position: -100% 0;}
}
/*******************************************************************/
/*Detail
/*******************************************************************/
.Forum.Detail{
    margin: auto;
    width: 100%;
}
.Forum.Detail .Likes{
    margin-right: 0px;
}
.Forum.Detail span.user-verified{
    align-items: center;
    display: flex;
}
.Forum h2{
    text-align: center;
}
.Forum .infopost.left{
    display: flex;
    justify-content: space-between;
}
.Forum .Linkify{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;  
    word-break: break-word;
}
.Forum .Linkify p{
    margin: 5px;
}
.Forum ul.replies{
    margin: auto;
}
.Forum ul.replies .likes-comments{
    display: flex;
    justify-content: flex-end;
}
.Forum ul.replies .likes-comments .votes span{
    cursor: pointer;   
}
.Forum ul.replies .likes-comments .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum ul.replies .infopost{
    justify-content: left;
}
.Forum .verified{
    background: var(--pastelGreen);
    border-radius: 50px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--greenMint);
    cursor: default;
    margin: 5px;
    padding: 1px 3px;
    position: relative;
}
.Forum .verified:hover + .tooltip{
    display: inline-block;
}
.Forum .tooltip{
    background: var(--secondaryFontColor);
    border-radius: 5px;
    color: white;
    display: none;
    font-size: small;
    padding: 5px;
    position: absolute;
}
.Forum time{
    color: var(--thirdFontColor);
    font-weight: 400;
}
.Forum.Detail .user-info{
    line-height: 1;
}
.Forum.Detail .user-verified{
    position: relative;
}
.Forum.Detail .user-verified .Public-Info{
    color: var(--primaryFontColor);
    display: none;
    position: absolute;
    top: 15px;
    transition: opacity 0.3s ease-out;
}
.Forum.Detail .user-verified:hover .Public-Info{
    display: block;
    width: max-content;
    z-index: 99999;
}
/*******************************************************************/
/*Mobile
/*******************************************************************/
@media(max-width: 768px){
    .Forum{
        padding: 20px;
    }

    .Forum ul.Front .infopost{
        justify-content: center;
    }
    .Forum .roll-wrap{
        justify-content: space-between;
    }
    .Forum .roll-wrap span{
        text-align: center;
    }
    .Forum .Sidebar,
    .Forum .OrderBy,
    .Forum .Emoji{
        display: none;
    }
    .Forum.Detail span.user-verified:hover .Public-Info{
        display: none;
    }
} 