/*******************************************************************/
/*Front
/*******************************************************************/
.Forum{
    margin: auto;
    max-width: 800px;
    width: 100%;
}
.Forum ul{
    padding: 0;
}
.Forum ul .roll-wrap{
    padding: 20px;
}
.Forum ul.Front a:first-child{
    font-size: xx-large;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}
.Forum ul.Front a{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    max-width: 600px;
}
.Forum ul.Front a:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);   
}
.Forum li{
    list-style-type: none;
}
.Forum li.roll{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Forum .Meta-Post{
    align-items: center;
    color: var(--mediumGray);
    display: flex;
    font-size: small;
    justify-content: flex-end;
}
.Forum .Meta-Post .Likes,
.Forum .Meta-Post .Comments,
.Forum .Meta-Post .Views{
    margin: 10px 10px 0px 0px;
}
.Forum .votes{
    align-items: flex-end;
    display: flex;
    font-size: small;
}
.Forum .infopost{
    align-items: center;
    color: var(--lightGray);
    display: flex;
    font-size: small;
}
.Forum .infopost.center{
    display: flex;
    justify-content: center;
}
.Forum img{
    border-radius: 50%;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}
.Forum img.Featured-Photo{
    border-radius: 0;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.Forum .infopost p{
    margin: 0;
}
.Forum .Likes{
    display: flex;
    justify-content: flex-end;
}
.Forum .Likes .votes span{
    cursor: pointer;   
}
.Forum .Likes .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum input.title{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    margin: auto;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 20px;
    width: 100%;
}
.Forum textarea.message{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    width: 100%;
}
.Forum .User-Wrap{
    align-items: center;
    display: flex;
}
.Forum .featured{
    align-items: center;
    display: flex;
    width: 100%;
}
.Forum .featured span{
    border: 0px;
    border-bottom: 10px solid;
    border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    border-image-slice: 1;
    color: white;
    margin: auto;
    text-align: center;
}
/*******************************************************************/
/*Detail
/*******************************************************************/
.Forum h2{
    color: var(--darkGray);
    text-align: center;
}
.Forum .infopost.left{
    display: flex;
    justify-content: space-between;
}
.Forum .Linkify{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;  
}
.Forum ul.replies{
    margin: auto;
    max-width: 600px;
}
.Forum ul.replies p{
    margin: 0;
}
.Forum ul.replies .likes-comments{
    display: flex;
    justify-content: flex-end;
}
.Forum ul.replies .likes-comments .votes span{
    cursor: pointer;   
}
.Forum ul.replies .likes-comments .votes:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);   
}
.Forum .verified{
    color: var(--blue);
    cursor: default;
    margin: 5px;
}
.Forum .verified:hover + .tooltip{
    display: inline-block;
}
.Forum .tooltip{
    background: var(--darkGray);
    border-radius: 5px;
    color: white;
    display: none;
    font-size: small;
    padding: 5px;
    position: absolute;
}
.Forum time{
    margin: 5px;
}
/*******************************************************************/
/*Mobile
/*******************************************************************/
@media(max-width: 768px){
    .Forum{
        padding: 20px;
    }
} 