@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 400;
  src: local('Interface'), url('../Assets/Fonts/Inter-UI-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Interface';
  font-style:  bold;
  font-weight: 600;
  src: local('Interface'), url('../Assets/Fonts/Inter-UI-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Interface';
  font-style:  bold;
  font-weight: 800;
  src: local('Interface'), url('../Assets/Fonts/Inter-UI-Black.woff2') format('woff2');
}
html{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    font-family: 'Interface', sans-serif;
    -webkit-font-smoothing: antialiased;
    outline: none;
}
body {
    background: var(--bgColor);
    color: var(--primaryFontColor);
    line-height: 2;
    margin: 0;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--primaryFontColor);
    letter-spacing: -0.075em;
    line-height: 1.5;
    text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p,
li,
ul{
    font-family: 'Interface', sans-serif;
}
a{
    color: var(--blue);
    text-decoration: none;
}
button{
    background: transparent;
    border: 3px solid var(--primaryFontColor);
    border-radius: 5px;
    box-shadow: 4px 4px 0 0 var(--primaryFontColor);
    color: var(--primaryFontColor);
    cursor: pointer;
    display: block;
    font-size: small;
    font-weight: 400;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 200px;  
}
button:hover{
    box-shadow: 8px 8px 0 0 var(--primaryFontColor);
    transition: 0.2s ease-in-out;
}
button.more{
    background: var(--lightBlue);
    border: none;
    border-radius: 50px;
    box-shadow: none;
    color: var(--blue);
}
button.back{
    background: none;
    border: none;
    box-shadow: none;
    color: var(--blue);
}
button.delete{
    background: var(--blue);
    border: none;
    box-shadow: none;
    color: white;
    font-size: 12px;
    margin: inherit;
    padding: 3px 10px;
    width: auto;
}
button.delete{
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
a.login,
a.New-Post{
    background-color: var(--greenMint);
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 50px;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
}
a.login:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);   
}
img.emoji {
   border-radius: 0!important;
   height: 1em!important;
   width: 1em!important;
   margin: 0 .01em 0 .5em!important;
   vertical-align: -0.1em!important;
}
:root{
    --nmsLogo: #30363b;
    --bgColor: #f4f8fb;
    --primaryFontColor: #30363b;
    --secondaryFontColor: #555; 
    --thirdFontColor: #828c99;
    --linkColor: #1e99e6;
    --bgBox: white;
    --lightBlue: #d2eafa;
    --blue: #1e99e6;
    --red: #db3236;
    --pastelRed: #ff6961;
    --pastelYellow: #ffde87;
    --pastelGreen: #c8e6e0;
    --pastelPurple: #778dff;
    --greenMint: #48ac98;
}
[data-theme = 'dark']{
    --bgColor: #262b2f;
    --primaryFontColor: white;  
    --bgBox: #30363b;
}
::selection{
    background: var(--darkGray);
    color: white;
}