.LastQuestions .Question{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.LastQuestions .Question a.Title{
    color: var(--primaryFontColor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}
.LastQuestions .Question a.Author{
    color: var(--primaryFontColor);
}
.LastQuestions .Question p{
    color: var(--secondaryFontColor);
}
.LastQuestions .Title-Author{
    color: var(--primaryFontColor);
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 500;
}
.LastQuestions .Author-Date-Responses{
    align-items: center;
    display: flex;
}
.LastQuestions .Author-Date{
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.LastQuestions .Date-Responses{
    color: var(--thirdFontColor);
    font-size: small;
    font-weight: 400;
}
.LastQuestions .Votes{
    border-radius: 12px;
    color: var(--primaryFontColor);
    display: flex;
    font-size: 14px;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    margin-right: 10px;
    right: 0;
    top: 0;
    width: 60px;
}
.LastQuestions .Votes span{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.LastQuestions button.more{
    margin-bottom: 0px;
    margin-top: 50px;
}
.LastQuestions .Tooltip::before{
    display: none;
}