.LastQuestions .Question{
    background: var(--bgBox);
    border-radius: 12px;
    padding: 20px;
}
.LastQuestions .Question > a{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.LastQuestions .Top-Card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.LastQuestions .Question h3{
    font-size: large;
    margin: 0;
    text-align: left;
}
.LastQuestions .Question p{
    color: var(--secondaryFontColor);
    line-height: 1.5;
}
.LastQuestions .Question .Author-Name-Date{
    align-items: center;
    color: var(--primaryFontColor);
    display: flex;
    font-size: small;
    font-weight: 600;
}
.LastQuestions .Question .Author-Date{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}
.LastQuestions .Question .Author-Date time,
.LastQuestions .Question .Author-Date div{
    color: var(--thirdFontColor);
    font-size: small;
    font-weight: 400;
}
.LastQuestions .Question .Num-Comments{
    align-items: center;
    color: var(--thirdFontColor);
    display: flex;
    font-size: small;
    justify-content: center;
    line-height: 1;
    margin-right: 5px;
}
.LastQuestions .Question .Bottom-Card{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
.LastQuestions .Votes{
    border-radius: 12px;
    color: var(--thirdFontColor);
    display: flex;
    font-size: large;
    flex-direction: column;
    height: 75px;
    margin: 0px 0px 20px 20px;
    justify-content: center;
    right: 0;
    top: 0x;
    width: 75px;
}
.LastQuestions .Votes span{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.LastQuestions .Votes span img.emoji{
    animation-name: shake;
    animation-delay: 5s;
    animation-duration: 1s;
}
@keyframes shake{
  0%  { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(4deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100%{ transform: translate(1px, -2px) rotate(-1deg); }
}