.LastPosts{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--textBlog);
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}
.LastPosts .Info{
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.LastPosts .Info a{
    border-bottom: 1px dotted var(--thirdFontColor);
}
.LastPosts a{
    margin-bottom: 20px;
}