.Votes{
    align-items: center;
    box-shadow: var(--shadow-color);
    border-radius: 8px;
    color: var(--secondaryFontColor);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 32px;
    font-size: 12px;
    justify-content: center;
    line-height: 1;
    padding: 0 12px;
    position: relative;
}
.Votes span{
    height: 16px;
}
.Votes.Voted{
    animation: fillVotes .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.Likes-Comments img.emoji{
    margin: 0;
}
@keyframes fillVotes{
  100% {box-shadow: inset 0px 0px 0px 50px rgb(22 24 27 / 5%);}
}
@media (hover: hover) {
    .Votes:hover{
        background: rgb(22 24 27 / 5%);
    }
}
