.Login{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}
.Login .Login-wrap{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, 
                rgba(15, 15, 15, 0.2) 0px 5px 10px, 
                rgba(15, 15, 15, 0.4) 0px 15px 40px;
    padding: 20px;
    width: 600px;
    z-index: 2;
}
.Login .Login-wrap h3{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.Login .Login-wrap p,
.Login .Login-wrap ul li{
    font-size: medium;
}
.Login .Login-wrap ul{
    list-style: none;
    padding: 0;
}
.Login button.Google{
    align-items: center;
    background: white;
    border: 1px solid var(--thirdFontColor);
    border-radius: 50px;
    box-shadow: none;
    color: var(--secondaryFontColor);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px;

}
.Login button.Google:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01); 
}
.Login svg{
    margin-right: 10px;
}
.Login .info{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.3;
    text-align: center;
}
.Login .Invisible{
    z-index: 1;
}
@media (max-width: 768px){
   .Login{
        padding: 20px;
    } 
}
