.Login{
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
.Login .Login-wrap{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    padding: 0px 20px 20px 20px;
    width: 600px;
}
.Login .Login-wrap h2{
    text-align: center;
}
.Login .Login-wrap p,
.Login .Login-wrap ul{
    font-size: medium;
}
.Login .Login-wrap ul{
    list-style: none;
    padding: 0;
}
.Login .Login-wrap button.more{
    justify-content: flex-end;
}
.Login .Google-blue{
    color: #4885ed
}
.Login .Google-red{
    color: #db3236;   
}
.Login .Google-yellow{
    color: #f4c20d;
}
.Login .Google-green{
    color: #3cba54;
}
.Login .info{
    font-size: small;
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 768px){
   .Login{
        padding: 20px;
    } 
}
