.Nav{
    background: var(--darkGray);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
}
.Nav .Wrap{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}
.Nav .Title a,
.Nav .Title-Mobile a{
    color: white;
    font-family: 'Gentium Book Basic', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.Nav .Title-Mobile{
    display: none;
}
.Nav .Menu{
    align-items: center;
    display: flex;
}
.Nav .Menu a{
    color: white;
    font-size: 12px;
    margin: 5px;
}
.Nav .Menu img{
    border-radius: 50%;
    height: 20px;
    margin-left: 5px;
    width: 20px;
}
.Nav .Search{
    align-items: center;
    display: flex;
}
.Nav .Search input{
    background: var(--mediumGray);
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
}
.Nav .Avatar-Menu{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    color: var(--darkGray);
    font-size: small;
    margin-left: -100px;
    margin-top: 5px;
    padding: 20px; 
    position: absolute;
}
.Nav .Avatar-Menu a{
    color: var(--darkGray);
    display: block;
    font-size: small;
    margin: 0;
    margin-bottom: 5px;
}
.Nav .Separator{
    background: var(--superLightGray);
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
.Nav .Img-Wrap{
    align-items: center;
    display: flex;
}
.Nav .User{
    align-items: center;
    cursor: pointer;
}
.Nav .Logout{
    color: var(--red);
}
@media (max-width: 768px){
   .Nav{
        padding: 20px;
    } 
    .Nav .Title{
        display: none;
    }
    .Nav .Title-Mobile{
        display: block;
    }
    .Nav .Search input{
        display: none;
    }
}