.Nav{
    background: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 250px;
    padding: 20px;
    top: 0;
    width: 100%;
    z-index: 1;
}
.Nav .Nomoresheet{
    align-items: center;
    display: flex;
    height: 100px;
}
.Nav .Nomoresheet.Mobile{
    display: none;
}
.Nav .Menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    width: 100%;
}
.Nav .NotificationsContainer{
    align-items: center;
    display: flex;
}
.Nav .Menu a{
    color: var(--primaryFontColor);
    cursor: pointer;
    width: max-content;
}
.Nav .Menu span{
    cursor: pointer;
}
.Nav .Menu .Progress{
    align-items: center;
    display: flex;
    height: 34px;
    margin-right: 5px;
    width: 34px;
    justify-content: center;
    position: relative;
}
.Nav .Menu img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.Nav .Avatar-Menu{
    animation: bounce 0.2s;
    background: var(--bgBox);
    border-radius: 12px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, 
                rgba(15, 15, 15, 0.2) 0px 5px 10px, 
                rgba(15, 15, 15, 0.4) 0px 15px 40px;
    color: var(--darkGray);
    font-size: small;
    margin-left: -80px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.Nav .Avatar-Menu a{
    align-items: center;
    color: var(--primaryFontColor);
    display: flex;
    font-size: small;
    margin: 0;
    padding: 5px 20px 5px 20px; 
}
.Nav .Avatar-Menu a:hover{
    background: var(--bgColor);
    color: var(--primaryFontColor);
    transition: 0.2s ease-in-out;
}
.Nav .Separator{
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.Nav .Img-Wrap,
.Nav .Bar-Wrap{
    align-items: center;
    background: var(--bgBox);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    width: max-content;
    padding: 10px 20px;
}
.Nav .User{
    align-items: center;
    cursor: pointer;
}
.Nav .Logout{
    border: 1px solid var(--red);
    border-radius: 50px;
    color: var(--red);
    cursor: pointer;
    font-size: small;
    margin-bottom: 5px;
    margin-top: auto;
    padding: 0px 10px;
    width: max-content;
}
.Nav .Name-Points{
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.Nav span.Name{
    font-size: small;
}
.Nav span.Points{
    color: var(--thirdFontColor);
    font-size: x-small;
}
.Nav .SignIn{
    color: var(--thirdFontColor);
    line-height: 1;
    font-size: x-small;
}
.Nav i{
    display: none;
}
.Nav .Access{
    background: var(--bgBox);
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.5;
    margin-right: -20px;
    padding: 20px;
}
.Nav .Access .Title{
    font-size: large;
    font-weight: 900;
}
.Nav .Access a{
    display: block;
    margin-top: 20px;
}
.Nav .Decide{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@keyframes bounce{
    0%    {opacity: 0;   transform: scale(1,1);}
    50%   {opacity: 0.5; transform: scale(1.1, 1.1);}
    100%  {opacity: 1;   transform: scale(1,1);}
}
@media (max-width: 768px){
    .Nav .Menu{
        display: none;
    }
    .Nav .Menu.Mobile{
        display: flex;
        padding: 20px;
    }
    .Nav{
        height: auto;
        max-width: 100%;
        padding: 0;
        position: relative;
        width: max-content;
    }
    .Nav .Logout{
        margin-top: 20px;
    }
    .Nav .Nomoresheet{
        padding: 20px;
        width: max-content;
    }
    .Nav.Mobile{
        background: var(--bgColor);
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: sticky;
        top: 0;
        width: 100vw;
    }
    .Nav i{
        border: solid var(--primaryFontColor);
        border-width: 0 1px 1px 0;
        display: inline-block;
        margin: 10px;
        padding: 3px;
        transition-duration: 0.8s;
    }
    .Nav i.Down {
        transform: rotate(45deg);
    }
    .Nav i.Up{
        transform: rotate(-135deg);
    }
    .Nav .Access{
        margin-top: 20px;
        margin-right: 0px;
    }   
}