.Nav{
    max-width: 250px;
    padding: 20px;
    width: 100%;
}
.Nav a{
    color: var(--primaryFontColor);
}
.Nav .Menu a svg{
    margin-right: 10px;
}
.Nav .Menu{
    display: flex;
    flex-direction: column;
}
.Nav .Mobile{
    display: none;
}
.Nav .Separator {
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.Nav .Decide {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.Nav .Decide button{
    padding: 10px;
}
.Nav .Access{
    background: var(--bgBox);
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.5;
    margin-right: -20px;
    padding: 20px;
}
.Nav .Access .Title{
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5;
}
.Nav .Access a {
    display: block;
    font-size: 14px;
}
.Nav .Menu .Img-Wrap{
    align-items: center;
    background: var(--bgBox);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 20px;
}
.Nav .Menu .Name-Points {
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.Nav .Menu span.Name{
    font-size: 12px;
}
.Nav .Menu span.Points{
    color: var(--thirdFontColor);
    font-size: 10px;
    margin-top: 2px;
}
.Nav button.login{
    display: none;
}
@media (max-width: 768px){
    .Nav{
        align-items: center;
        display: flex;
        max-width: 100%;
        padding: 20px 20px 0 20px;
    }
    .Nav .NomoresheetLogo{
        margin-bottom: 0!important;
        margin-top: 0!important;
    }
    .Nav .Menu{
        display: none;
    }
    .Nav .Mobile{
        background: var(--bgColor);
        border-top: 1px solid rgba(1, 1, 1, 0.1);
        bottom: 0;
        display: flex;
        font-size: 12px;
        height: calc(48px + env(safe-area-inset-bottom));
        left: 0;
        justify-content: space-between;
        padding: 5px 20px;
        position: fixed;
        width: 100%;
        z-index: 99999999999;
    } 
    .Nav .Mobile a{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Nav .Mobile .Img-Wrap{
        position: relative;
    }
    .Nav .Mobile .NotificationPoints{
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .Nav button.login{
        display: block;
        font-size: 14px;
        margin: 0;
        margin-left: auto;
    }
}
@media (hover: hover){
    .Nav a.New-Post:hover svg{
        animation: 0.3s swirl_in ease-in-out;
    }
    .Nav .Mobile .Img-Wrap{
        position: relative;
    }
    .Nav .Menu a:hover svg{
        animation: tilt 0.5s ease-in-out; 
    }
}