.NewPost{
    align-items: center;
    background: rgba(15, 15, 15, 0.6);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}
.NewPost-Wrap{
    background: var(--bgBox);
    border-radius: 12px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, 
                rgba(15, 15, 15, 0.2) 0px 5px 10px, 
                rgba(15, 15, 15, 0.4) 0px 15px 40px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    z-index: 2;
}
.NewPost-Wrap .User{
    display: flex;
    margin-bottom: 10px;
}
.NewPost input{
    background: var(--bgColor)!important;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--primaryFontColor);
    font-size: medium;
    line-height: 2;
    margin-top: 10px;
    padding: 5px;
    resize: none;
    width: 100%;
}
.NewPost textarea{
    background: var(--bgColor);
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--primaryFontColor);
    font-size: medium;
    line-height: 2;
    margin-top: 20px;
    min-height: 200px;
    max-height: calc(100vh - 400px);
    padding: 5px;
    resize: none;
    width: 100%;
}
.NewPost .TagInput{
    margin-top: 20px;
}
.NewPost .TagInput .Tags{
    border: none;
}
.NewPost .TagInput .Tags .Tag{
    font-size: small;
}
.NewPost .Invisible{
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
@media(max-width: 768px){
    .NewPost{
        animation: slide_up 0.5s ease-in-out;
        background: transparent;
        justify-content: flex-end;
        z-index: 999999999999;
    }
    .NewPost-Wrap{
        border-radius: 12px 12px 0px 0px;
        padding-bottom: env(safe-area-inset-bottom);
        position: relative;
    }
}