.NewPost{
    align-items: center;
    background: rgba(1, 1, 1, 0.9);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
}
.NewPost h2,
.NewPost p{
    color: white;
}
.NewPost form{
    max-width: 1000px;
    width: 100%;
    z-index: 1;
}
.NewPost input{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
.NewPost textarea{
    border: none;
    border-radius: 5px;
    display: block;
    font-size: large;
    height: 200px;
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
.NewPost button{
    background-color: var(--greenMint);
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    width: auto;
}
.NewPost button:hover{
    box-shadow: none;
}
.NewPost .Invisible{
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.NewPost .Enviado{
    z-index: 1;
}