.Notifications .Notifications-Icon{
    align-items: center;
    display: flex;
    
}
.Notifications .Notifications-Icon .Notifications-Logo{
    font-size: large;
}
.Notifications .Notifications-Icon span.Notifications-Number{
    align-items: center;
    background: var(--blue);
    border-radius: 50%;
    color: white;
    display: inline-flex;
    font-size: xx-small;
    height: 16px;
    justify-content: center;
    margin-left: -10px;
    margin-bottom: 18px;
    width: 16px;
}
.Notifications .Notifications-Menu{
    animation: bounce 0.2s;
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, 
                rgba(15, 15, 15, 0.2) 0px 5px 10px, 
                rgba(15, 15, 15, 0.4) 0px 15px 40px;
    box-sizing: border-box;
    color: var(--darkGray);
    font-size: small;
    height: 500px;
    margin-left: -470px;
    margin-top: 10px;
    width: 500px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}
.Notifications .Notifications-Content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.Notifications .Notifications-Content:hover{
    background: var(--bgColor);
    color: var(--primaryFontColor);
    transition: 0.2s ease-in-out;
}
.Notifications .Notifications-Content span.Notifications-Points{
    color: var(--greenMint);
    margin-right: 10px;
}
@keyframes bounce{
    0%    {opacity: 0;   transform: scale(1,1);}
    50%   {opacity: 0.5; transform: scale(1.1, 1.1);}
    100%  {opacity: 1;   transform: scale(1,1);}
}