.Notifications{
    align-items: center;
    background: rgba(15, 15, 15, 0.6);
    display: flex;
    justify-content: center;
    left: 0;
    overflow: scroll;
    top: 0;
    width: 100%;
}
.Notifications .Notifications-Wrap{
    height: 100%;
    width: 100%;
}
.Notifications .Notifications-Menu{
    background: var(--bgBox);
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    color: var(--darkGray);
    display: flex;
    flex-direction: column;
    font-size: small;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
}
.Notifications-Tag{
    cursor: pointer;
}
.Notifications-Number{
    align-items: center;
    background: var(--greenMint);
    border-radius: 5px;
    color: white;
    display: inline-flex;
    font-size: xx-small;
    justify-content: center;
    margin-left: 3px;
    padding: 1px 4px;
    transition: 1s ease-in-out; 
}
.Notifications .Notifications-Content{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.5;
    padding: 20px;
}
.Notifications .Notifications-Ago{
    padding: 20px;
    width: 100%;
}
.Notifications .Notifications-Photo{
    align-items: center;
    display: flex;
    width: 10%;
}
.Notifications .Notifications-Points{
    text-align: center;
    width: 20%;
}
.Notifications .Notifications-Message{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.Notifications .Notifications-Message time{
    color: var(--thirdFontColor);
    font-size: x-small;
}
.Notifications .Notifications-Content span.Notifications-Points span.Pos{
    color: var(--greenMint);
    margin-right: 10px;
}
.Notifications .Notifications-Content span.Notifications-Points span.Neg{
    color: var(--pastelRed);
    margin-right: 10px;
}
.Notifications .Notifications-Content:hover{
    background: var(--bgColor);
    color: var(--primaryFontColor);
    transition: 0.2s ease-in-out;
}
.Notifications-Content-Empty{
    align-items: center;
    color: var(--thirdFontColor);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
}
.Notifications-Content-Empty .Big-Emoji{
    font-size: xx-large;
}
.Notifications img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.Notifications .DisplayNotifications{
    padding: 20px;
}
@keyframes bounce{
    0%    {opacity: 0;   transform: scale(1,1);}
    50%   {opacity: 0.5; transform: scale(1.1, 1.1);}
    100%  {opacity: 1;   transform: scale(1,1);}
}
@media(max-width: 768px){
    .Notifications .Notifications-Wrap,
    .Notifications .Notifications-Menu{
        width: 100%;
    }
    
}