.OrderBy{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 20px;
}
.OrderBy div{
    border-radius: 50px;
    cursor: pointer;
    font-size: small;
    padding: 5px 15px;
    text-align: center;
}
.OrderBy img.emoji{
    margin-left: 5px;
}
.OrderBy .Selected{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
}
@media(max-width: 768px){
    
    .OrderBy div{
        align-items: center;
        display: flex;
        width: 100%;
    }
    
}