.Participants{
    background: var(--bgBox);
    border-radius: 12px;
    margin-bottom: 20px;
}
.Participants-Wrap{
    display: flex;
    padding: 10px;
}
.Participants img{
    border: 1px solid var(--shadow-color);
    border-radius: 50%;
    height: 24px;
    margin-right: -10px;
    width: 24px;
}
.Participants .More{
    font-size: small;
    margin-left: 20px;
}
@media(max-width: 768px){
    .Participants{
        display: none;
    }
}