.Perfil {
    width: 100%;
}
.Perfil .Bar{
    background: var(--bgColor);
    border-radius: 5px;
    display: flex;
    height: 5px;
    width: 100%;
}
.Perfil .Completed{
    background: var(--greenMint);
    border-radius: 5px;
}
.Perfil .Datos{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Perfil .Datos img{
    border-radius: 50%;
    height: 100px;
    margin : auto;
    width: 100px;
}
.Perfil .Datos span.Nombre{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.Perfil .Datos .Bloque {
    margin-bottom: 20px;
}
.Perfil .Datos .Title{
    font-size: small;
    font-weight: 600;
}
.Perfil .Datos .Comment{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.5;
}
.Perfil .Datos .Num{
    background: var(--bgColor);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}
.Perfil .Toggle{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px){
   .Perfil{
        padding: 20px;
    }
}