.Perfil {
    width: 100%;
}
.Perfil .Datos{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Perfil .Datos img{
    border-radius: 50%;
    height: 100px;
    margin : auto;
    width: 100px;
}
.Perfil .Datos span.Nombre{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.Perfil .Datos table tbody{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Perfil .Datos table tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Perfil .Datos span.Alert{
    background: var(--lightGray);
}
@media (max-width: 768px){
   .Perfil{
        padding: 20px;
    }
}