.Perfil{
    align-items: center;
    background: rgba(15, 15, 15, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
}
.Perfil-Wrap{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    cursor: default;
    display: flex;
    height: 700px;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    z-index: 2
}
.Perfil .Invisible{
    z-index: 1;
}
.Perfil h3{
    text-align: left;
}
.Perfil .Progress{
    height: 100px;
    width: 100px;
}
.Perfil .Sidebar{
    background: var(--bgColor);
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}
.Perfil .Sidebar .First-Menu .Item{
    align-items: center;
    cursor: pointer;
    display: flex;
}
.Perfil .Sidebar .First-Menu .Item svg{
    margin-right: 5px;
}
.Perfil .Sidebar .Last-Menu{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.3;
}
.Perfil .Sidebar .Menu-Title{
    color: var(--secondaryFontColor);
    font-size: small;
    font-weight: 600;
}
.Perfil .Separator{
    background: var(--bgBox);
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.Perfil .Datos{
    overflow-y: scroll;
    padding: 20px;
    width: 100%;
}
.Perfil .Bar{
    background: var(--bgColor);
    border-radius: 5px;
    display: flex;
    height: 5px;
    width: 100%;
}
.Perfil .Completed{
    background: var(--greenMint);
    border-radius: 5px;
}
.Perfil .Datos span.Nombre{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.Perfil .Datos .Bloque {
    margin-bottom: 20px;
}
.Perfil .Datos .Title{
    font-size: small;
    font-weight: 600;
}
.Perfil .Datos .Comment{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.5;
}
.Perfil .Datos .Num{
    background: var(--bgColor);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}
.Perfil .Toggle{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.Perfil .Premium{
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}
.Perfil .Premium .Account-Block{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.Perfil .Premium .Account-Block ul.Features{
    background: var(--bgColor);
    border-radius: 5px;
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.5;
    padding: 30px;
}
.Perfil .Premium .Account-Block ul.Features li{
    text-decoration: underline dotted;
}
.Perfil .Premium .Account-Block .Price{
    align-items: flex-end;
    display: flex;
    line-height: 1;
}
.Perfil .Premium .Account-Block .Price .Quantity{
    font-size: x-large;
    margin-right: 5px;
}
.Perfil .Premium .Account-Type{
    font-size: x-large;
    font-weight: 600;
}
.Perfil .Faq{
    padding: 20px;
}
.Perfil .Faq p.Question{
    color: var(--secondFontColor);
    display: block;
    font-size: large;
    font-weight: 600;
    line-height: 1.5;
}
.Perfil .Faq p.Answer{
    color: var(--thirdFontColor);
    font-size: medium;
    line-height: 1.5;
}
.Perfil button{
    margin: 0;
    margin-left: 0!important;
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content!important;
}
.Perfil .current{
    align-items: center;
    background-color: var(--bgColor);
    border: none;
    border-radius: 50px;
    color: var(--primaryFontColor);
    display: flex;
    font-size: 12px;
    height: 34px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    width: max-content;
}
@media (max-width: 768px){
    .Perfil{
        padding: 20px;
    }
    .Perfil-Wrap{
        flex-direction: column;
    }
    .Perfil .Sidebar{
        width: 100%;
    }
    .Perfil .Premium{
        flex-direction: column;
    }
}