.Post .Header{
    padding-bottom: 50px;
    padding-top: 50px;
}
.Post .Header img#Erik{
    border-radius: 50%;
    height: 30px;
    margin: 5px;
    width: 30px;
}
.Post .Infopost{
    text-align: center;
}
.Post .Infopost .i{
    font-size: medium;
    margin: 10px;
}
.Post .Infopost .i{
    display: inline-block;
}
.Post .Infopost .i:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
}
.Post .Infopost .i:nth-child(2){
    cursor: default;
}
.Post .Infopost .i:nth-child(3),
.Post .Infopost .i:nth-child(4){
    cursor: pointer;
}
.Post .Infopost .Author{
    align-items: center;
    color: var(--gray);
    display: flex;
    font-size: x-small;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.Post .Infopost .Author span{
    margin: 5px;
}
.Content p,
.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5,
.Content h6,
.Content table,
.Content ul,
.Content ol{
    color: var(--textBlog);
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
}
.Content table{
    display: table;
    width: 100%;
}
.Content p, 
.Content li{
    font-size: 18px;
}
.Content h1,
.Content h6{
    text-align: center;
}
.Content h2,
.Content h3{
    margin-top: 100px;
    text-align: left;
}
.Content h6{
    color: var(--gray);
}
.Content img{
    margin-left: 50%;
    transform: translateX(-50%);
}
.Content img + em{
    color: var(--thirdFontColor);
    font-size: small;
    font-style: normal;
}
.Content pre{
    font-size: medium;
    margin: auto;
    max-width: 768px;
}
.Content twitterwidget{
    margin: auto;
    max-width: 620px;
}
.Content blockquote p{
    color: var(--blue);
    font-size: x-large;
}
.Content .center{
    margin: auto;
    max-width: 620px;
}
.Related{
    margin: auto;
    max-width: 620px;
}
.Related h2{
    text-align: left;
}
.Three-Block{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a.Community,
a.Ad,
a.Otro,
a.Article{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 
                1px 3px 8px rgba(39,44,49,.03);
    color: var(--thirdFontColor);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: small;
    justify-content: space-between;
    line-height: 1.5;
    margin: 5px;
    padding: 20px;
    width: 195px;
}
a.Community:hover,
a.Ad:hover,
a.Otro:hover,
a.Article:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
a.Otro{
    background: pink;
    color: #664c51;
}
a.Community{
    background: var(--greenMint);
    color: white;
}
a.Ad{
    background: var(--yellow);
    color: #7f6f43;
}
a.Article{
    background: var(--blue);
    color: white;
}
a.Community p,
a.Ad p,
a.Otro p,
a.Article p{
    margin: 0;
    margin-bottom: 10px;
}
a.Community p img,
a.Ad p img,
a.Otro p img,
a.Article p img{
    margin: 0 !important;
}
span.Access{
    background: #664c51;
    border-radius: 50px;
    color: pink;
    font-size: x-small;
    padding: 5px;
    width: max-content;
}
span.Tag{
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
    font-size: x-small;
    padding: 5px;
    width: max-content;
}
span.Tag.Blue{
    background: var(--lightBlue);
    color: var(--blue);
}
span.Tag.Green{
    background: var(--pastelGreen);
    color: var(--greenMint);
}
span.Tag.Yellow{
    background: #7f6f43;
    color: var(--pastelYellow);
}
@media (max-width:600px){
    .Post{
        padding: 20px;
    }
    .Content img{
        margin-left: 0;
        transform: none;
        width: 100%;
    }
    .Header .Infopost .i:hover{
        transform: none;
        transition: none;
    }
    .Three-Block{
        flex-direction: column;
    }
    .Three-Block a{
        width: 100%;
    }
}