.Post{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 100%;
}
.Post h1{
    line-height: 1;
    margin: 0;
    text-align: left;
}
.Post .Header{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 620px;
}
.Post .Header .OldArticle{
    background: var(--lightBlue);
    border: 1px solid var(--blue);
    border-radius: 6px;
    color: var(--blue);
    margin-top: 20px;
    padding: 20px;
}
.Post .Header .OldArticle a{
    text-decoration: underline;
}
.Post .Content{
    margin: auto;
    max-width: 620px;
}
.Post .Header img#Erik{
    border-radius: 50%;
    height: 20px;
    margin: 5px;
    width: 20px;
}
.Post .Infopost .i{
    cursor: pointer;
    display: inline-block;
    font-size: medium;
    margin: 10px;
}
.Post .Infopost .i:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
}
.Post .Infopost .Author{
    align-items: center;
    color: var(--gray);
    display: flex;
    font-size: small;
    margin: 0;
}
.Post .Infopost .Author span{
    margin: 5px;
} 
.Content p,
.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5,
.Content h6,
.Content table,
.Content ul,
.Content ol,
.Content blockquote{
    color: var(--textBlog);
    margin-left: auto;
    margin-right: auto;
}
.Content table{
    display: table;
    width: 100%;
}
.Content p, 
.Content li{
    font-size: 18px;
}
.Content h1,
.Content h6{
    text-align: center;
}
.Content h2,
.Content h3{
    margin-top: 100px;
    text-align: left;
}
.Content h6{
    color: var(--gray);
}
.Content img{
    margin: auto;
    max-width: 620px;
}
.Content img + em{
    color: var(--thirdFontColor);
    display: block;
    font-size: small;
    font-style: normal;
}
.Content pre{
    font-size: medium;
    margin: auto;
    max-width: 768px;
}
.Content twitterwidget{
    margin: auto;
    max-width: 620px;
}
.Content blockquote{
    border-left: 3px solid var(--thirdFontColor);
    color: var(--thirdFontColor);
    padding-left: 10px;
}
.Content table{
    border-collapse: collapse;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
}
.Content table thead tr{
    background-color: var(--bgColor)!important;
}
.Content table tr:nth-child(2n + 1) {
    background-color: var(--bgBox);
}
.Content table td, 
.Content table th{
    padding: 6px 13px;
}
.Content .center{
    margin: auto;
    max-width: 620px;
}
.Content .Blur-Login{
    position: relative;
}
.Content .Blur-Login:after{
    background: linear-gradient(to bottom, rgba(var(--bgColorRGB), 0), rgba(var(--bgColorRGB), 0.5));
    bottom: 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}
.Content .Login-Box{
    background: var(--bgBox);
    border-radius: 12px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    margin: auto;
    padding: 20px;
    max-width: 620px;
}
.Content .Login-Box h3{
    margin-top: 1em;
}
.Content .Login-Box a{
    font-size: 14px;
    padding: 10px 20px;
}
.Related{
    margin: auto;
    max-width: 620px;
}
.Related h2{
    text-align: left;
}
.Three-Block{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a.Community,
a.Otro,
a.Article{
    background: var(--bgBox);
    border-radius: 12px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 
                1px 3px 8px rgba(39,44,49,.03);
    color: var(--thirdFontColor);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: small;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 20px;
    width: 200px;
}
a.Community:hover,
a.Otro:hover,
a.Article:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
a.Community p,
a.Ad p,
a.Otro p,
a.Article p{
    margin: 0;
    margin-bottom: 10px;
}
a.Community p img,
a.Ad p img,
a.Otro p img,
a.Article p img{
    margin: 0 !important;
}
a.Article .Lines{
    border-radius: 12px;
    height: 40px;
}
a.Article .Lines div{
    background: var(--bgColor);
    margin-bottom: 10px;
    height: 5px;
    width: 100%;

}
a.Article .Lines div:nth-child(2){
    width: 70%;
}
span.Access{
    border: 1px solid pink;
    border-radius: 50px;
    color: pink;
    font-size: x-small;
    padding: 5px;
    width: max-content;
}
span.Tag{
    border: 1px solid var(--blue);
    border-radius: 50px;
    color: var(--blue);
    font-size: x-small;
    padding: 5px;
    width: max-content;
}
span.Tag.Green{
    border: 1px solid var(--greenMint);
    color: var(--greenMint);
}
span.Tag.Yellow{
    border: 1px solid var(--pastelPurple);
    color: var(--pastelPurple);
}
.Community-Grid {
    display: flex;
    margin-bottom: 10px;
}
.Community-Grid div{
    align-items: center;
    background: pink;
    border: 1px solid var(--bgBox);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 20px;
    margin-right: -5px;
    width: 20px;
}
.Community-Grid div:nth-child(1){
    background: var(--pastelPurple);
}
.Community-Grid div:nth-child(2){
    background: var(--greenMint);
}
.Community-Grid div:nth-child(3){
    background: var(--yellow);
}
.Community-Grid div:nth-child(4){
    background: var(--pastelRed);
}
.Community-Grid img.emoji{
    margin: 0!important;
}
@media (max-width:600px){
    .Post{
        padding: 20px;
    }
    .Content img{
        margin-left: 0;
        transform: none;
        width: 100%;
    }
    .Header .Infopost .i:hover{
        transform: none;
        transition: none;
    }
    .Three-Block{
        flex-direction: column;
    }
    .Three-Block a{
        min-height: 150px;
        width: 100%;
    }
}