.Privileges{
    background: var(--bgBox);
    border-radius: 12px;
    margin-bottom: 20px;
}
.Privileges .Next{
    font-size: small;
    padding: 20px;
}
.Privileges .Bar{
    background: var(--bgColor);
    border-radius: 12px;
    display: flex;
    height: 5px;
    width: 100%;
}
.Privileges .Completed{
    background: var(--greenMint);
    border-radius: 12px;
}
.Privileges .Comment{
    color: var(--thirdFontColor);
}
.Privileges .Subheader{
    margin-top: 20px;
}