.Public-Info{
    padding: 20px;
    width: 100%;
}
.Public-Info .Header::before{
    border-radius: 12px 12px 0px 0px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}
.Public-Info .Header{
    margin: -20px -20px 0px -20px;
    border-radius: 12px 12px 0px 0px;
    padding: 50px;
    background-size: cover;
    position: relative;
}
.Public-Info .Header h2{
    color: white;
    position: relative;
}
.Public-Info .Datos{
    background: var(--bgBox);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Public-Info .Datos .Bloque {
    margin-bottom: 20px;
}
.Public-Info .Datos .Title{
    font-size: small;
    font-weight: 600;
}
.Public-Info .Datos .Comment{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.5;
}
.Public-Info .Datos .Num{
    background: var(--bgColor);
    border-radius: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}
.Public-Info .Datos .UserAvatar{
    height: 100px;
    margin: auto;
    width: 100px;
}
.Public-Info .Datos .UserAvatar img{
    height: 100%;
    width: 100%;
}
.Public-Info .Bar{
    background: var(--bgColor);
    border-radius: 12px;
    display: flex;
    height: 5px;
    width: 100%;
}
.Public-Info .Completed{
    background: var(--greenMint);
    border-radius: 12px;
}
.Public-Info .Activity{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.Public-Info .Activity .Menu{
    border-bottom: 3px solid var(--bgColor);
    display: flex;
    font-size: 12px;
}
.Public-Info .Activity .Menu div{
    cursor: pointer;
    font-weight: 600;
    margin-right: 15px;
}
.Public-Info .Activity .Menu .Selected{
    border-bottom: 4px solid var(--blue);
}
.Public-Info .Activity a{
    font-size: 12px;
    margin-top: 5px;
}
.Public-Info .Activity button{
    color: var(--blue);
    margin: 0;
    margin-top: 10px;
    width: max-content;
}
.Public-Info .Ranking{
    background: var(--blue);
    border-radius: 12px;
    color: white;
    font-size: x-small;
    padding: 5px;
}
.Public-Info .Reputation{
    margin-bottom: 5px;
    margin-top: 5px;
}