.Public-Info{
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}
.Public-Info .Datos{
    background: var(--bgBox);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    width: 100%;
}
.Public-Info .Datos .Bloque {
    margin-bottom: 20px;
}
.Public-Info .Datos .Title{
    font-size: small;
    font-weight: 600;
}
.Public-Info .Datos .Comment{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.5;
}
.Public-Info .Datos .Num{
    background: var(--bgColor);
    border-radius: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}
.Public-Info .Datos .Progress{
    height: 100px;
    margin: auto;
    width: 100px;
}
.Public-Info .Bar{
    background: var(--bgColor);
    border-radius: 12px;
    display: flex;
    height: 5px;
    width: 100%;
}
.Public-Info .Completed{
    background: var(--greenMint);
    border-radius: 12px;
}
.Public-Info .Last-Articles a{
    border-bottom: 3px solid var(--bgColor);
    font-size: small;
}
.Public-Info .Ranking{
    background: var(--blue);
    border-radius: 12px;
    color: white;
    font-size: x-small;
    padding: 5px;
}
.Public-Info .Reputation{
    margin-bottom: 5px;
    margin-top: 5px;
}