.Question{
    background: var(--bgBox);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
}
.Question .Header{
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    width: max-content;
}
.Question .Header .Public-Info{
    display: none;
}
.Question .Header .Author-Name-Date{
    display: flex;
    flex-direction: column;
    font-size: small;
    line-height: 1;
}
.Question .Header .Author-Info:hover .Public-Info{
    display: block;
    position: absolute;
}
.Question .Header .Author-Name-Date time{
    color: var(--thirdFontColor);
}
.Question .Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    word-wrap: break-word;
}
.Question .Content a{
    word-break: break-all;
}
.Question .Content h1,
.Question .Content h2,
.Question .Content h3,
.Question .Content h4,
.Question .Content h5,
.Question .Content h6{
    margin: 0;
    margin-bottom: 0.5em;
    text-align: left;
}
.Question .Content ul{
    max-width: none;
}
.Question .Content p,
.Question .Content li{
    font-size: inherit;
    margin: 0;
    max-width: none;
}
.Question .Content p{
    margin-bottom: 20px;
}
.Question .Content .TableWrap{
    max-width: 620px;
    overflow-x: auto;
}
.Question .Content table{
    margin-bottom: 20px;
}
.Question .Content table,
.Question .Content ol{
    border-collapse: collapse;
    max-width: 100%;
}
.Question .Content table tr{
    border-top: 1px solid #c6cbd1;
}
.Question .Content table tr:nth-child(2n) {
    background-color: var(--bgColor);
}
.Question .Content table td, 
.Question .Content table th{
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
.Question .Content blockquote{
    border-left: 3px solid var(--thirdFontColor);
    color: var(--thirdFontColor);
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 10px;
}
.Question .Content img{
    max-width: 100%;
}
.Question .Content .Likes .votes{
    cursor: pointer;
    margin-left: auto;
    width: max-content;
}
.Question span.Author-Info{
    display: flex;
}

.Question .Meta{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Question .Meta > .CopyLink,
.Question .Meta > .Likes,
.Question .Meta > .Edit,
.Question .Meta > .Delete{
    margin-left: 5px;
}
.Question .Info{
    color: var(--thirdFontColor);
    font-size: small;
}