.RelatedContent{
    background: var(--bgBox);
    border-radius: 12px;
    color: var(--textBlog);
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}
.RelatedContent .Links div{
    line-height: 1.3;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.RelatedContent .Links div a{
    align-items: center;
    color: var(--primaryFontColor);
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 100%;
}
.RelatedContent p{
    color: var(--thirdFontColor);
    margin: 0;
}