.RelatedContent{
    background: var(--bgBox);
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    color: var(--textBlog);
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.RelatedContent .Links{
    padding: 10px;
}
.RelatedContent .Links div{
    line-height: 1.3;
    margin-bottom: 10px;
}
.RelatedContent .Links div a{
    align-items: center;
    border-bottom: solid var(--bgColor);
    justify-content: space-between;
    margin-bottom: 10px;
}