.Estadisticas{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}
.Estadisticas .Parrilla{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}
.Estadisticas .Parrilla .Datos{
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    padding: 10px;
    margin: 5px;
    width: 100%;
}
.Estadisticas .Parrilla .Datos .Titulo{
    color: var(--thirdFontColor);
    font-size: small;
}
.Estadisticas .Parrilla .Datos .Desc{
    font-size: large;
}
.Estadisticas .Fecha{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.Estadisticas .Fecha button{
    background: none;
    border: none;
    color: var(--primaryFontColor);
    cursor: pointer;
    font-size: small;
    margin: 5px;
    padding: 5px 15px;
    text-align: center;
}
.Estadisticas .Fecha button.Selected {
    background: var(--lightBlue);
    border-radius: 50px;
    color: var(--blue);
}
.Estadisticas .Grafico{
    margin: auto;
    width: 600px;
}
.Estadisticas .Ranking{
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    padding: 20px;
}
.Estadisticas .Ranking .Row{
    display: flex;
    justify-content: space-between;
}
.Estadisticas .Pulse{
    animation: pulse 1s infinite;
    background: rgb(62,153,237);
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-left: 10px;
    width: 7px;
}
.Estadisticas .Url{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Estadisticas .Publicaciones,
.Estadisticas .Graficos{
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    padding: 20px;
    width: 100%;
}
@media (max-width: 768px){
    
    .Estadisticas{
        width: 100%;
    }
    .Estadisticas .Parrilla{
        flex-direction: column;
        margin-bottom: 5px;
    }
}
@keyframes pulse {
    0%   {box-shadow: 0 0 0 0    rgba(62,153,237, 0.4);}
    70%  {box-shadow: 0 0 0 10px rgba(62,153,237, 0);}
    100% {box-shadow: 0 0 0 0    rgba(62,153,237, 0);}
}