.button-on,
.button-off{
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-shrink: 0;
    height: 18px;
    background: var(--secondaryFontColor);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background 200ms ease 0s, box-shadow 200ms ease 0s;
    width: 40px;
}
.button-off{
    background: rgba(202, 204, 206, 0.3);

}
.inner-button-on,
.inner-button-off{
    align-items: center;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    display: flex;
    justify-content: center;
    font-size: small;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background: white;
    transition: all 0.2s ease-out;
    transform: translateX(17px) translateY(0px);
}
.inner-button-on{
    background: var(--bgBox);
}
.inner-button-off{
    transform: translateX(0%) translateY(0px);
}
.inner-button-off img.emoji,
.inner-button-on img.emoji{
    margin: 0 !important;
}