.button-on,
.button-off{
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-shrink: 0;
    height: 18px;
    background: var(--secondaryFontColor);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-out;
    user-select: none;
    width: 40px;
}
.button-off{
    background: rgba(202, 204, 206, 0.3);
}
.button-on{
    background: var(--blue);
}
.inner-button-on,
.inner-button-off{
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    font-size: small;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background: var(--bgBox);
    transition: all 0.2s ease-out;
    transform: translateX(18px) translateY(0px);
}
.inner-button-off{
    transform: translateX(0px) translateY(0px);
}
.inner-button-off img.emoji,
.inner-button-on img.emoji{
    margin: 0 !important;
}