.Users{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 20px;
    width: 100%;
}
.Users a{
    color: var(--primaryFontColor);
}
.Users .User{
    align-items: center;
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}
.Users .User .Rank{
    border-radius: 50%;
    font-size: x-large;
    font-weight: 900;
    height: 50px;
    right: 5px;
    padding: 2px;
    position: absolute;
    top: 5px;
    width: 50px;
}
.Users .User .UserAvatar,
.Users .User .UserAvatar img{
    height: 30px;
    width: 30px;
}
.Users .User .UserAvatar{
    margin-right: 10px;
}
.Users .User .Points{
    color: var(--thirdFontColor);
    font-size: 9px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.Users .NamePoints{
    line-height: 1.5;
}
@media (hover: hover){
    
    .Users a:hover{
        transition: 0.2s;
        transform: scale(1.01);   
    }
    
}