.UserAvatar{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-right: 5px;
    position: relative;
    width: 24px;
}
.UserAvatar img{
    border-radius: 50%;
    box-shadow: rgb(48 54 59 / 10%) 0px 0px 0px 1px;
    height: 24px;
    width: 24px;
}
.UserAvatar::after{
    background: rgba(0, 0, 0, .04);
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}