[data-theme = 'work']{
    --bgColor: white;
}
[data-theme = 'work'] a{
    color: var(--primaryFontColor);
}
[data-theme = 'work'] p a{
    text-decoration: underline;
}
[data-theme = 'work'] button{
    background: var(--primaryFontColor);
    border: 1px solid rgba(1, 1, 1, 0.2);
    color: white;
}
[data-theme = 'work'] .Title-Menu{
    max-width: 700px;
}
[data-theme = 'work'] .DiscreteFooter{
    display: block;
}
[data-theme = 'work'] .Access,
[data-theme = 'work'] .Comments,
[data-theme = 'work'] .EditionTime,
[data-theme = 'work'] .Footer,
[data-theme = 'work'] .Hints,
[data-theme = 'work'] .Loading,
[data-theme = 'work'] .Menu,
[data-theme = 'work'] .Nav,
[data-theme = 'work'] .Norms,
[data-theme = 'work'] .OneYearAgo,
[data-theme = 'work'] .Privileges,
[data-theme = 'work'] .Participants,
[data-theme = 'work'] .Progress,
[data-theme = 'work'] .RelatedContent,
[data-theme = 'work'] .Votes,
[data-theme = 'work'] img,
[data-theme = 'work'] svg.octicon{
    display: none !important;
}
[data-theme = 'work'] .Question,
[data-theme = 'work'] .Reply{
    padding: 0;
}
[data-theme = 'work'] .LastQuestions .Top-Card{
    margin-bottom: 0;
}
[data-theme = 'work'] .LastQuestions .Question .Author-Date{
    flex-direction: row;
}
[data-theme = 'work'] .LastQuestions .Question .Author-Date time{
    margin-left: 10px;
    margin-right: 10px;
}
[data-theme = 'work'] .NewReply{
    border: 1px solid var(--thirdFontColor);
}
[data-theme = 'work'] .Content{
    margin-top: 0px !important;
}
[data-theme = 'work'] .Content a{
    text-decoration: underline;
}
[data-theme = 'work'] .Forum-TwoCol{
    display: flex;
    flex-direction: column;
}
[data-theme = 'work'] .Norms ol li.Bien:before{
    color: black;
}
[data-theme = 'work'] .Forum-TwoCol .Sidebar{
    margin: 0;
}
[data-theme = 'work'] .Footer{
    background: #f4f8fb;
    color: var(--primaryFontColor);
    min-height: unset;
}
[data-theme = 'work'] .Footer a{
    color: var(--primaryFontColor);
}
[data-theme = 'work'] .DiscreteFooter {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
[data-theme = 'work'] .DiscreteFooter .Row{
    display: flex;
    justify-content: center;
}
[data-theme = 'work'] .DiscreteFooter .Row > *{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
[data-theme = 'work'] .DiscreteFooter .Info{
    color: var(--thirdFontColor);
    font-size: small;
    line-height: 1.2;
    text-align: center;
}
[data-theme = 'work'] .NewPost .NewPost-Wrap input,
[data-theme = 'work'] .NewPost .NewPost-Wrap textarea{
    border: 1px solid var(--thirdFontColor);
}